*{
    margin: 0;
    padding: 0;
}

header{
    background:  #FFA50280;
    ;
}

.logo-section{
    padding-left: 112px;
    display: flex;
    columns: #3C227C;
    font-size: 21px;
    justify-content: space-between;
    align-items: center;
}

.logo-section ul{
    padding-right: 594px;
    display: flex;
    gap: 27px;
}

.logo-section ul li{
   list-style: none;
}

.logo-section ul li a{
    text-decoration: none;
    color: #373F41;
    font-size: 14px;
}
.hero-item{
    display: flex;
    align-items: center;
    gap: 91px;
}
.right{
   width: 445px;
   text-align: justify;
}
.hero-content{
    margin-top: 40px;
    text-align: justify;
}
.hero-btn{
     width: 112px;
     height: 42px;
     margin-top: 56px;
     background: transparent;
     border: 1px solid red;
     color: red;
}
.services{
    margin-top: 163px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.services-left{
    margin-left: 122px;
}
.content-1{
    width: 588px;
    height: 135px;
    background: #4F55DD;
    border-radius: 15px;
}
.content-1 p{
    padding: 22px 30px 26px 27px;
            /* top   left  bottom right
               */
    color: #FFFFFF;           
}
.content-2,
.content-3{
    margin-top: 75px;
    width: 588px;
    height: 135px;
}
.services-right{
    margin-right: 138px;
}